@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body {
  font-family: 'Castoro', serif;
  padding: 0px 0px;
  margin: 0px 0px;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 1px;
  display: none;
}
